<launch>
    <node name='cv_camera_node' pkg='cv_camera' type='cv_camera_node'></node>
    <group ns="image_raw">
        <rosparam param="disable_pub_plugins">- 'image_transport/compressedDepth'</rosparam>
    </group>

    <node name='image_converter' pkg='camera_package' type='yolo_topic.py'>
        <param name='yolo_model' value="$(find camera_package)/yolo/"/>
    </node>
</launch>